<div class="row">
  <table class="table table-bordered">
    <thead>
      <th>投稿名</th>
      <th>コメント内容</th>
      <th>投稿者</th>
    </thead>
    <tbody>
      <% posts.each do |post| %>
        <% post.comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to admin_post_path(post) do %>
                <%= post.post_name %><br>
              <% end %>
            </td>
            <td><%= comment.text %></td>
            <td>
              <%= link_to admin_user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image(35, 35), class:"border border-dark rounded-circle" %>
                <%= comment.user.name %>
                <br>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>