<div class="container">
  <h3 class="text-center">コメント一覧</h3>
  <div class="form-inline">
    <div class="mx-auto form-group mb-3">
      <% if @comments.present? %>
        <%= form_with url: admin_search_path, method: :get do |f| %>
          <%= f.text_field :keyword, placeholder: "検索内容", class:'form-control' %>
          <!--TODO selectのheight?-->
          <%= f.select :model, options_for_select({'ユーザー'=>'user', '投稿'=>'post'}), class:'p-1' %>
          <%= f.submit "検索", class:'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <h5 class="text-center p-3 text-danger"><%= flash[:notice] if flash[:notice] %></h5>
  <% if @comments.present? %>
    <%= render 'list', comments: @comments %>
  <% else %>
    <h4 class="text-center">コメントはありません。</h4>
  <% end %>
</div>
