<div class="container">
  <div class="offset-lg-8">
    <%= form_with url: admin_search_path, method: :get do |f| %>
      <%= f.text_field :keyword, placeholder: "検索内容" %>
      <%= f.select :model, options_for_select({'ユーザー'=>'user', '投稿'=>'post'}) %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <table class="table table-bordered">
    <thead>
      <th>コメントしたユーザー</th>
      <th>コメントされた投稿</th>
      <th>コメント内容</th>
      <th>コメントされた日時</th>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= link_to comment.user.name, admin_user_path(comment.user) %></td>
          <td>
            <%= link_to comment.post.post_name, admin_post_path(comment.post) %>
            (コメント件数<%= @comment_count[comment.post_id] %>件)
          </td>
          <td><%= comment.text %></td>
          <td><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
