<div class="container">
  <h4>コメントの検索内容</h4>
  <% if @model == 'user' %>
    <div class="d-flex">
      <% unless @keyword == '' %>
        <h5>検索名：<%= @keyword %>（ユーザー）</h5>
      <% else %>
        <h5>検索名：全ユーザー</h5>
      <% end %>
      <p>（マッチした検索数<%= @count %>件）</p>
    </div>
    <% if @users.present? %>
      <%= render 'comment_users', users: @users %>
    <% else %>
      検索したユーザーのコメントは見つかりませんでした。
    <% end %>
  <% elsif @model == 'post' %>
    <div class="d-flex">
      <% unless @keyword == '' %>
        <h5>検索名：<%= @keyword %>（投稿）</h5>
      <% else %>
        <h5>検索名：全投稿</h5>
      <% end %>
      <p>（マッチした検索数<%= @count %>件）</p>
    </div>
    <% if @posts.present? %>
      <%= render 'comment_posts', posts: @posts %>
    <% else %>
      検索した投稿は見つかりませんでした。
    <% end %>
  <% end %>
</div>
