<!--投稿画面のフォーム-->
<%= form_with model: post do |f| %>
  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <!--投稿画像の設定-->
      <div class="form-group">
        <%= f.label :images, "画像(6枚まで投稿可)" %>
        <span class="text-danger form_essential">※必須</span>
        <br>
        <% if post.new_record? %>
          <%= f.file_field :images, accept: "image/*", required: true, multiple: true, onchange: "loadImage(this)" %>
          <div id="preview"></div>
        <% else %>
          <div class="mb-2">
            <%= f.file_field :images, accept: "image/*", multiple: true, onchange: "postImage(this)" %><br>
          </div>
          <!--存続の投稿画像の表示-->
          <div id="postImage">
            <% post.images.each do |image| %>
              <%= image_tag image, class:"preview_img border border-secondary rounded ml-1"%>
            <% end %>
          </div>
          <!--編集にて投稿画像を変更する場合に画像が変化する-->
          <div id="edit_preview"></div>
        <% end %>
        <div id="error_message_post_image" class="text-danger"></div>
      </div>

      <!--投稿名の設定-->
      <div class="form-group">
        <%= f.label :post_name, "投稿名(20文字以内)" %>
        <span class="text-danger form_essential">※必須</span>
        <%= f.text_field :post_name, required: true, data: {'max-length' => 20}, class: "form-control valid-check w-75" %>
        <div><span id="name_countUp"><%= post.post_name&.length || 0 %></span>/20文字</div>
      </div>

      <!--投稿の説明の設定-->
      <div class="form-group">
        <%= f.label :explanation, "投稿の説明(100文字以内)" %>
        <span class="text-danger form_essential">※必須</span>
        <%= f.text_area :explanation, required: true, data: { 'max-length' => 100 }, class: "form-control valid-check w-75" %>
        <div><span id="explanation_countUp"><%= post.explanation&.length || 0 %></span>/100文字</div>
      </div>

      <!--タグの設定-->
      <div class="form-group">
        <%= f.label :tag, "タグ (全角の空白で区切ると複数タグ登録できます)" %>
        <%= f.text_field :tag, placeholder: "タグを入力", class: "form-control w-75" %>
      </div>
      <!--入力したタグの表示-->
      <div>
        <p>タグ：<span id="check_post_tags"></span></p>
      </div>

      <!--モーダルウィンドウ表示ボタン-->
      <button type="button" id="GoogleMap" class="btn btn-lg btn-primary" disabled= "true" data-toggle="modal" data-target=".bd-example-modal-lg">
        GoogleMapを使って場所を指定する
      </button>

      <!--submitボタン-->
      <div class="text-left ml-2 mt-4">
        <% if post.new_record? %>
          <%= f.submit "投稿する", id: "submit-btn", class:"btn btn-outline-info" %>
        <% else %>
          <%= f.submit "投稿を更新する", id: "submit-btn", class:"mr-4 btn btn-outline-info" %>
          <%= link_to "この投稿を削除する", post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-outline-danger" %>
        <% end %>
      </div>

      <!--GoogleMapのモーダルウィンドウ-->
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title" id="exampleModalLabel">
                <h4>GoogleMap</h4>
                <!--Google Mapの位置設定-->
                <%= f.label :lat,"緯度" %>
                <%= f.text_field :lat, placeholder: "緯度", id: :lat %>
                <%= f.label :lng,"経度" %>
                <%= f.text_field :lng, placeholder: "経度", id: :lng %>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="address" type="text" placeholder="清水寺">
              <input type="submit" value="検索" onclick="codeAddress()">
              <span>検索をするとマーカーが使えるようになります。</span>
              <div class="container-fluid">
                <div class="row">
                  <div id='map' style="height: 800px; width: 800px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>
    </div>
  </div>
<% end %>