<div class="row">
  <div class="col-lg-6">
    <% tag_counts.each do |tag_name, count| %>
      <%= link_to tag_name[:name], tag_path(tag_name[:id]) %>
      <%= "(#{count}件)" %>
    <% end %>
  </div>
</div>
<div class="row">
  <table class="table table-bordered">
    <% posts.each do |post| %>
      <tr>
        <td>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(40, 40), class:"border border-dark rounded-circle" %>
            <%= post.user.name %>
            <br>
          <% end %>
          <%= link_to post_path(post) do %>
            <%= post.post_name %><br>
            <%= image_tag post.image, size: "150x100" %>
          <% end %>
        </td>
        <td>
          <%= post.explanation %><br>
          <% post.tags.each do |tag| %>
            <%= link_to tag_path(tag.id) do %>
              #<%= tag.name %>
            <% end %>
          <% end %>
          <br>
          <span id="post_<%= post.id %>"><%= render "public/likes/like", post: post %></span>
          <%= link_to "#{post.comments.count}コメント", post_path(post.id) %>
          <br>
          直近1週間のいいね数：<i class="fa-solid fa-heart"></i><%= post.likes_in_week %>いいね
          <br>
          閲覧数(<%= post.view_counts.count %>)
          本日の閲覧数(<%= post.today_view_count(post) %>)
          <br>
          <i class="fa-regular fa-clock"></i><%= time_ago_in_words(post.created_at)+"前に投稿" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>