<div class="card-deck">
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-lg-4  mb-5">
        <!--TODO style="width: 350px;-->
        <div class="card h-100" style="width: 350px;">
          <div class="card-text">
            <%= link_to user_path(post.user) do %>
              <%= image_tag post.user.get_profile_image(40, 40), class:"border border-dark rounded-circle" %>
              <%= post.user.name %>
            <% end %>
          </div>
          <div class="posts_index">
            <div class="swiper">
              <div class="swiper-wrapper">
                <% post.images.each do |image| %>
                  <div class="swiper-slide">
                    <%= link_to post_path(post) do %>
                      <%= image_tag image, class: "card-img-top post_index_images" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-btn swiper-button-prev"></div>
              <div class="swiper-btn swiper-button-next"></div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= post.post_name %></h5>
            <p class="card-text"><%= post.explanation %></p>
            <% post.tags.each do |tag| %>
              <%= link_to tag_path(tag.id) do %>
                #<%= tag.name %>
              <% end %>
            <% end %>
            <br>
            <span id="post_<%= post.id %>"><%= render "public/likes/like", post: post %></span>
            <%= link_to "#{post.comments.count}コメント", post_path(post.id) %>
            <br>
            <i class="fa-solid fa-eye"></i><%= post.view_counts.count %>
            <br>
            <i class="fa-regular fa-clock"></i><%= time_ago_in_words(post.created_at)+"前に投稿" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>