<div class="border-top pb-3"></div>
<%= flash[:notice] if flash[:notice] %>
<div class="row">
  <div class="col-lg-6 mt-2">
    <!--ユーザーの場合-->
    <% if current_user&.name? %>
      <!--ユーザーのプロフィール画像と名前-->
      <%= link_to user_path(post.user.id) do %>
        <%= image_tag post.user.get_profile_image(60, 60), class:"border border-dark rounded-circle", width: 40, height: 40 %>
        <%= post.user.name %>
      <% end %>
    <!--管理者の場合-->
    <% else %>
      <%= link_to admin_user_path(post.user.id) do %>
        <%= image_tag post.user.get_profile_image(60, 60), class:"border border-dark rounded-circle", width: 40, height: 40 %>
        <%= post.user.name %>
      <% end %>
    <% end %>
    <!--投稿画像-->
    <div class="swiper">
      <div class="swiper-wrapper">
        <% post.images.each do |image| %>
          <div class="swiper-slide">
            <%= image_tag image, class:"swiper_image border rounded border-secondary"%>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-btn swiper-button-prev"></div>
      <div class="swiper-btn swiper-button-next"></div>
    </div>
  </div>

  <!--投稿名、説明、タグ、いいね機能、ビューカウント、コメント機能-->
  <div class="col-lg-5 ml-3 mt-5">
    <h3 class="pt-2 pb-3"><%= post.post_name %></h3>
    <h4 class="pd-3"><%= post.explanation %></h4>
    <% post.tags.each do |tag| %>
      <%= link_to tag_path(tag) do %>
        #<%= tag.name %>
      <% end %>
    <% end %>
    <div class="pt-2">
      <!--ユーザーの場合-->
      <% if current_user&.name? %>
        <div class="ml-2">
          <span id="post_<%= post.id %>"><%= render "public/likes/like", post: post %></span>
          <%= post.comments.count %>コメント
        </div>
      <!--管理者の場合-->
      <% else %>
        <div class="ml-2">
          <i class="align-self-center fa-regular fa-heart"></i><%= post.likes.count %>いいね
          <%= post.comments.count %>コメント
        </div>
      <% end %>
      <!--ビューカウント-->
      <i class="ml-2 mt-1 fa-solid fa-eye pt-1"></i><%= post.view_counts.count %>
      <!--何時間前の投稿？-->
      <div class="ml-2 mt-1">
        <i class="fa-regular fa-clock pt-1"></i><%= time_ago_in_words(post.created_at)+"前に投稿" %>
      </div>
      <!--GoogleMapの詳細ボタン-->
      <% if post.lat.present? && post.lng.present? %>
        <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target=".bd-example-modal-lg">
          GoogleMapを表示する
        </button>
      <% end %>
      <!--ユーザーの場合-->
      <% if current_user&.name? %>
        <%= link_to "投稿を編集する", edit_post_path(post), class:"btn btn-info mt-3" if post.user == current_user %>
      <!--管理者の場合-->
      <% else %>
        <%= link_to "投稿を編集する", edit_admin_post_path(post), class:"btn btn-info mt-3" if post.user == current_user %>
      <% end %>
      <% unless post.user == current_user && current_user&.name %>
        <!--違反投稿のボタン-->
        <button type="button" class="btn btn-danger mt-3 ml-4" data-toggle="modal" data-target="#testModal">投稿違反を報告する</button>
      <% end %>
    </div>
  </div>
</div>

<!--コメント入力フォーム-->
<div class="row mt-5">
  <div class="col-lg-6">
    <%= form_with model: [post, comment], local: false do |f| %>
      <div class="form-group">
        <%= f.text_area :text, required: true, size: "35x2", placeholder: "コメント入力欄", class: "form-control" %>
        <%= f.submit "コメントする", class:"btn btn-outline-success mt-2" %>
      </div>
    <% end %>
  </div>
</div>
<!--存続のコメントを表示-->
<div class="row mt-2">
  <div class="col-lg-10"
    <div id="comment_area">
      <%= render 'public/comments/post_comments', post: post %>
    </div>
  </div>
</div>

<!--ユーザー報告画面-->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><%= post.post_name %>の報告</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <!--モーダルウィンドウの×(閉じる)ボタン-->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--入力フォーム-->
      <%= form_with model: violate do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :status, "違反の種類(必須)" %>
            <br>
            <%= f.radio_button :status, 'inappropriate' %>
            <%= f.label :status_inappropriate, "不正、不適切な投稿" %>
            <br>
            <%= f.radio_button :status, 'copyright_violation' %>
            <%= f.label :status_copyright_violation, "著作権違反" %>
            <br>
            <%= f.radio_button :status, 'slander' %>
            <%= f.label :status_slander, "誹謗中傷、悪口" %>
          </div>
          <div class="form-group">
             <%= f.label :text, "説明(任意)" %>
             <%= f.text_area :text,placeholder: "違反の詳細をお書きください。", class:"form-control" %>
             <%= f.hidden_field :post_id, value: post.id %>
             <%= f.hidden_field :reported_id, value: post.user.id %>
          </div>
        </div>
        <!--送信ボタン-->
        <div class="modal-footer">
          <%= f.submit "送信", disabled: "true" , class:"btn btn-warning btn-lg text-dark", id:"submit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--GoogleMapのモーダルウィンドウ-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">GoogleMap</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!--TODO style-->
            <div id='map' style="height: 600px; width: 600px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    //マップの設定
    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= post.lat %>, lng: <%= post.lng %>},
      zoom: 15,
    });

    //マーカーの設定
    marker = new google.maps.Marker({
      position:  {lat: <%= post.lat %>, lng: <%= post.lng %>},
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>