<!--投稿一覧  -->
<div class="container">
  <% if @posts.present? %>
  <%= render 'layouts/flash' %>
  <%= render 'public/searches/phone_search_form' %>
    <h3 class="text-center"><%= @sort_condition %>で表示しています</h3>
    <div class="row">
    <div class="col-12 mx-auto">
      <div class="justify-content-end form-inline mr-3 mb-3">
        <%= form_with url: posts_path, method: :get do |f| %>
          <%= f.select :sort, options_for_select({"新着投稿"=>"new", "いいね順"=>"like", "直近のいいね順"=>"likes_in_week" }), {prompt: false}, class:"pt-1 pb-2 rounded border border-secondary mr-2" %>
          <%= f.submit '検索', class:"btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      </div>
    </div>
  </div>
    <%= render 'index', posts: @posts %>
  <% else %>
    <h4 class="col-10 col-lg-12 mx-auto text-center pt-5">
      投稿はまだありません。<br>
      ユーザーの皆さんに自身の投稿を見てもらえるよう<br>
      右下の＋ボタンから新規投稿してみよう！！
    </h4>
  <% end %>
  <%= render 'public/posts/new_post_btn' %>
</div>
