<!--投稿詳細画面-->
<div class="container">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <h2 class="text-center">Post</h2>
      <div class="row mt-3">
        <div class="col-lg-6">
          <%= link_to user_path(@post.user.id), class:"text-dark" do %>
            <%= image_tag @post.user.get_profile_image(60, 60), class:"border border-dark rounded-circle", width: 40, height: 40 %>
            <%= @post.user.name %>
          <% end %>
          <div class="swiper">
            <div class="swiper-wrapper">
              <% @post.images.each do |image| %>
                <div class="swiper-slide">
                  <%= image_tag image, class:'preview_img img-thumbnail swiper_image' %>
                </div>
              <% end %>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-btn swiper-button-prev"></div>
            <div class="swiper-btn swiper-button-next"></div>
          </div>
        </div>
        <div class="col-lg-5 ml-3 mt-5">
          <h3 class="pt-2 pb-3"><%= @post.post_name %></h3>
          <h5 class="pd-3"><%= @post.explanation %></h5>
          <% @post.tags.each do |tag| %>
            <%= link_to tag_path(tag), class:"text-dark" do %>
              #<%= tag.name %>
            <% end %>
          <% end %>
          <div class="pt-2">
            <div class="ml-2">
              <span id="post_<%= @post.id %>"><%= render "public/likes/like", post: @post %></span>
            </div>
            <i class="ml-2 mt-1 fa-solid fa-eye pt-1 pr-1"></i><%= @post.view_counts.count %>
            <div class="ml-2 mt-1">
              <i class="fa-regular fa-clock pt-1 pr-1"></i><%= time_ago_in_words(@post.created_at)+"前に投稿" %>
            </div>
            <div>
              <% if @post.has_lat_lng %>
                <div>
                  <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target=".bd-example-modal-lg">
                    GoogleMapを表示する
                  </button>
                </div>
                <%= render 'google_map', post: @post %>
              <% end %>
              <% if @post.written_by?(current_user) %>
                <div>
                  <%= link_to "投稿を編集する", edit_post_path(@post), class:"btn btn-info mt-3" %>
                </div>
              <% end %>
              <% unless @post.written_by?(current_user) %>
                <div>
                  <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#violateModal">投稿違反を報告する</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6">
          <%= form_with model: [@post, @comment], local: false do |f| %>
            <div class="form-group">
              <%= f.text_area :text, required: true, size: "35x2", placeholder: "コメント入力欄", class: "form-control" %>
              <%= f.submit "コメントする", class:"btn btn-outline-success mt-2" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-10">
          <div id="comment_area">
            <%= render 'public/comments/post_comments', post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="violateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= @post.post_name %>の報告</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with model: @violate do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <h5>違反の種類<span class="h6 text-danger pl-1">※必須</span></h5>
              <ul class="list_none pl-0">
                <li>
                  <%= f.radio_button :status, 'inappropriate' %>
                  <%= f.label :status_inappropriate, "不正、不適切な投稿" %>
                </li>
                <li>
                  <%= f.radio_button :status, 'copyright_violation' %>
                  <%= f.label :status_copyright_violation, "著作権違反" %>
                </li>
                <li>
                  <%= f.radio_button :status, 'slander' %>
                  <%= f.label :status_slander, "誹謗中傷、悪口" %>
                </li>
                <li>
                  <%= f.radio_button :status, 'others' %>
                  <%= f.label :status_others, "その他" %>
                </li>
              </ul>
            </div>
            <div class="form-group">
               <%= f.label :text, "説明", class:"h5" %>
               <%= f.text_area :text,placeholder: "違反の詳細をお書きください。※任意", class:"form-control" %>
               <%= f.hidden_field :post_id, value: @post.id %>
               <%= f.hidden_field :reported_id, value: @post.user.id %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "送信", disabled: "true" , class:"btn btn-warning btn-lg text-dark", id:"submit-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    const statusField = $("input[name='violate[status]']");
    const submit = $('#submit-button');
    statusField.on("change", function() {
      if (statusField.is(":checked")) {
        submit.removeClass('btn btn-warning btn-lg');
        submit.addClass('btn btn-warning');
        submit.prop("disabled", false);
      }
    });
  });
</script>
