<div class="container">
  <%= flash[:notice] if flash[:notice] %>
  <div class="row">
    <!--ユーザーのプロフィール画像と名前-->
    <div class="offset-lg-1">
      <%= link_to user_path(@post.user.id) do %>
        <%= image_tag @post.user.get_profile_image(40, 40), class:"border border-dark rounded-circle" %>
        <%= @post.user.name %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <!--投稿画像-->
    <div class="offset-lg-1">
      <% @post.images.each do |image| %>
        <%= image_tag image, size: "150x100" %>
      <% end %>
    </div>
    <!--投稿名、説明、タグ-->
    <div class="offset-lg-1 col-lg-4">
      <h5><%= @post.post_name %></h5>
      <p><%= @post.explanation %></p>
      <% @post.tags.each do |tag| %>
        <%= link_to tag_path(tag) do %>
          #<%= tag.name %>
        <% end %>
      <% end %>

      <!--いいね機能(非同期通信)-->
      <p id="post_<%= @post.id %>"><%= render "public/likes/like", post: @post %></p>

      <i class="fa-solid fa-eye"></i><%= @post.view_counts.count %>
      <br>
      <i class="fa-regular fa-clock"></i><%= time_ago_in_words(@post.created_at)+"前に投稿" %>
      <%= link_to "投稿を編集する", edit_post_path(@post), class:"btn btn-info" if @post.user == current_user %>

      <!--ユーザー報告画面-->
      <% unless @post.user == current_user %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#testModal">投稿違反を報告する</button>
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><%= @post.post_name %>の報告</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <!--モーダルウィンドウの×(閉じる)ボタン-->
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%= form_with model: @violate do |f| %>
                <div class="modal-body">
                  <div class="form-group">
                    <%= f.label :status, "違反の種類(必須)" %>
                    <br>
                    <%= f.radio_button :status, Violate.statuses[:inappropriate] %>
                    <%= f.label :status_0, "不正、不適切な投稿" %>
                    <br>
                    <%= f.radio_button :status, Violate.statuses[:copyright_violation] %>
                    <%= f.label :status_1, "著作権違反" %>
                    <br>
                    <%= f.radio_button :status,Violate.statuses[:slander] %>
                    <%= f.label :status_2, "誹謗中傷、悪口" %>
                    <%= f.label :status, "違反の種類" %>
                  </div>
                  <div class="form-group">
                     <%= f.label :text, "説明(任意)" %>
                     <%= f.text_area :text, class:"form-control" %>
                     <%= f.hidden_field :post_id, value: @post.id %>
                     <%= f.hidden_field :reported_id, value: @post.user.id %>
                  </div>
                </div>
                <div class="modal-footer">
                  <!--<button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>-->
                  <%= f.submit "送信", disabled: "true" , class:"btn btn-warning btn-lg text-dark", id:"submit-button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <!--コメント機能-->
  <div id="comment_area">
    <div class="offset-lg-1">
      <h5>コメントのupdate機能未実装</h5>
      <p>コメント件数<%= @post.comments.count %>件</p>
      <%= form_with model: [@post, @comment], local: false do |f| %>
        <%= f.text_area :text, size: "35x2", placeholder: "コメント入力欄" %>
        <br>
        <%= f.submit "コメントする" %>
      <% end %>
    </div>
    <%= render 'public/comments/post_comments', post: @post %>
  </div>
  <!--コメント機能ここまで-->

  <div id="comments_error">
    <%= render 'layouts/error_messages', resource: @comment %>
  </div>
</div>

<script>
  $(function() {
    const statusField = $("input[name='violate[status]']");

    // ラジオボタンに変化があった場合
    statusField.on("change", function() {
      // ラジオボタン選択している場合
      if (statusField.is(":checked")) {
        $('#submit-button').removeClass('btn btn-warning btn-lg');
        $('#submit-button').addClass('btn btn-warning');
        $("#submit-button").prop("disabled", false);
      }
    });
  });
</script>
