<!--コメントの表示（非同期通信）-->
<div class="text-center pt-3 pb-1 text-danger">
  <%= flash.now[:error] if flash.now[:error] %>
</div>
<% if post.comments.count > 0%>
  <p>コメント件数<%= post.comments.count %>件</p>
<% end %>
<% post.comments.each do |comment| %>
  <div class="border-top pt-1"></div>
  <%= link_to user_path(comment.user), class:"text-dark" do %>
    <%= image_tag comment.user.get_profile_image(45, 45), class:"border border-dark rounded-circle", width: 30, height: 30%>
    <% if comment.user == post.user %>
      <%= comment.user.name %>(投稿者)
    <% else %>
      <%= comment.user.name %>
    <% end %>
  <% end %>
  <% if comment.user == current_user || !current_user&.name %>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, data: {confirm: "コメントを削除しますか？"}, class:"float-right mr-3 mt-1 btn btn-outline-danger" %>
  <% end %>
  <div class="pt-1 ml-4">
    <p class="mb-0"><%= comment.text %></p>
    <div class="d-flex">
      <div id="comment_likes_<%= comment.id %>" class="pt-1 pd-1">
        <%= render 'public/comment_likes/comment_likes', post: post, comment: comment %>
      </div>
      <span class="ml-2 mt-1 pl-3"><i class="fa-regular fa-clock"></i><%= time_ago_in_words(comment.created_at)+'前' %></span>
    </div>
  </div>
<% end %>