<table class="table">
  <% post.comments.each do |comment| %>
    <tr>
      <td class="offset-lg-1"></td>
      <td>
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image(25, 25), class:"border border-dark rounded-circle" %>
          <% if comment.user == post.user %>
            <%= comment.user.name %>(投稿者)
          <% else %>
            <%= comment.user.name %>
          <% end %>
        <% end %>
      </td>
      <td><%= comment.text %></td>
      <td>
        <div id="comment_likes_<%= comment.id %>">
          <%= render partial: 'public/comment_likes/comment_likes', locals: {post: post, comment: comment} %>
        </div>
      </td>
      <td>
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        <%= link_to "コメントを削除", post_comment_path(comment.post, comment), method: :delete, remote: true if comment.user == current_user %>
      </td>
    </tr>
  <% end %>
</table>