<!--１対１のDM画面-->
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <p class="col-8 text-center">
      <%= image_tag @current_entry.user.get_profile_image(60, 60), class:"border border-dark rounded-circle", width: 40, height: 40 %>
      <%= @current_entry.user.name %>(あなた)と
      <%= image_tag @another_entry.user.get_profile_image(60, 60), class:"border border-dark rounded-circle", width: 40, height: 40 %>
      <%= @another_entry.user.name %>さんのチャットルームです
    </p>
  </div>

  <!--メッセージの表示-->
  <div id="messages">
    <%= render 'public/messages/messages', messages: @messages %>
  </div>

  <!--メッセージ入力フィールド-->
  <div class="dm-form">
    <%= form_with model: @message, url: messages_path, method: :post, local: false do |f| %>
      <div class="row">
        <div class="col-9 col-sm-10">
          <%= f.text_field :text, placeholder: "メッセージを入力してください", class:"w-100 form-control" %>
          <%= f.hidden_field :room_id, value: @room.id %>
        </div>
        <div class="col-3 col-sm-2 pl-0">
          <%= f.submit "送信", class:"rounded-pill btn btn-success w-100" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
