<!--１対１のDM画面-->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto d-flex">
      <h5 class="mx-auto d-none d-md-block">
        <%= image_tag @current_entry.user.get_profile_image(60, 60), class:"border border-dark rounded-circle", width: 40, height: 40 %>
        <%= @current_entry.user.name %>(あなた)と
        <%= link_to user_path(@another_entry.user.id) do %>
          <%= image_tag @another_entry.user.get_profile_image(60, 60), class:"border border-dark rounded-circle", width: 40, height: 40 %>
        <% end %>
        <%= @another_entry.user.name %>さんのチャットルームです
      </h5>
      <h5 class="d-block d-md-none">DM</h5>
    </div>
    <div class="border-bottom pt-2"></div>
  </div>
  <div id="messages">
    <%= render 'public/messages/messages', messages: @messages %>
  </div>
  <div class="col-12 col-lg-8 mx-auto">
    <%= form_with model: @message, url: messages_path, method: :post, local: false do |f| %>
      <div class="row">
        <div class="col-9 col-sm-10">
          <%= f.text_field :text, required: true, placeholder: "メッセージを入力してください", class:"w-100 form-control" %>
          <%= f.hidden_field :room_id, value: @room.id %>
        </div>
        <div class="col-3 col-sm-2 pl-0">
          <%= f.submit "送信", class:"rounded-pill btn btn-success w-100" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
