<!--ユーザー検索画面-->
<div class="row m-auto" style="max-width:800px;">
  <!--TODO　style-->
  <table class="table table-hover">
    <tbody>
      <% users.each do |user| %>
        <!--ユーザーの場合-->
        <% if current_user&.name? %>
          <tr onclick='window.location="<%= user_path(user) %>"' role="link">
        <!--管理者の場合-->
        <% else %>
          <tr onclick='window.location="<%= admin_user_path(user) %>"' role="link">
        <% end %>
          <td class="col-1">
            <%= image_tag user.profile_image, size: "75x75", class:"rounded-circle border border-dark" %>
          </td>
          <td>
            <span class="h5"><%= user.name %></span><br>
            <%= user.introduction %><br>
            フォロー中<%= user.followings.count %>
            フォロワー<%= user.followers.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>