<!--検索結果一覧画面-->
<div class="container">
  <% if @model == 'user' %>
    <div class="d-flex justify-content-center">
      <h4>ユーザー検索</h4>
      <div class="h5 ml-3 mt-1">
        検索名：<%= @keyword %>
        <% if @keyword.present? %>
          <span class="h6">
            （マッチした検索数<%= @records.count %>件）
          </span>
        <% else %>
          全ユーザー
        <% end %>
      </div>
    </div>
    <% if @records.present? %>
      <%= render 'public/searches/search_user', users: @records %>
    <% else %>
    <h5 class="pt-2 text-center">検索したユーザーは見つかりませんでした。</h5>
    <% end %>
  <% elsif @model == 'post' %>
    <h4 class="d-flex justify-content-center">
      投稿検索
      <div class="h5 ml-3 mt-1">
        検索名：<%= @keyword %>
        <% if @keyword.present? %>
          <span class="h6">
            （マッチした検索数<%= @records.count %>件）
          </span>
        <% else %>
          全投稿
        <% end %>
      </div>
    </h4>
    <% if @records.present? %>
      <% if user_signed_in? %>
        <%= render 'public/posts/index', posts: @records %>
      <% else %>
        <%= render 'admin/posts/index', posts: @records %>
      <% end %>
    <% else %>
      <h5 class="pt-2 text-center">検索した投稿は見つかりませんでした。</h5>
    <% end %>
    <%= render 'public/posts/new_post_btn' %>
  <% end %>
</div>
