<!--検索結果一覧画面-->
<div class="container">
  <!--ユーザー検索-->
  <% if @model == 'user' %>
    <h4 class="d-flex justify-content-center">
      ユーザー検索
      <div class="h5 ml-3 mt-1">
        検索名：<%= @keyword %>
        <% if @keyword.present? %>
          <span class="h6">
            （マッチした検索数<%= @records.count %>件）
          </span>
        <% else %>
          全ユーザー
        <% end %>
      </div>
    </h4>
    <!--ユーザーの表示-->
    <% if @records.present? %>
      <%= render 'public/searches/search_user', users: @records %>
    <% else %>
      検索した投稿は見つかりませんでした。
    <% end %>

  <!--投稿検索-->
  <% elsif @model == 'post' %>
    <h4 class="d-flex justify-content-center">
      投稿検索
      <div class="h5 ml-3 mt-1">
        検索名：<%= @keyword %>
        <% if @keyword.present? %>
          <span class="h6">
            （マッチした検索数<%= @records.count %>件）
          </span>
        <% else %>
          全投稿
        <% end %>
      </div>
    </h4>
    <!--投稿の表示-->
    <% if @records.present? %>
      <%= render 'public/posts/index', posts: @records %>
    <% else %>
      検索した投稿は見つかりませんでした。
    <% end %>
  <% end %>
</div>
