<!--検索結果一覧画面-->
<div class="container">
  <% if @model == 'user' %>
    <div class="d-flex justify-content-center">
      <h4 class="text-center pb-3">ユーザー検索</h4>
      <div class="h5 ml-3 mt-1 d-none d-md-block">
        検索名：<%= @keyword %>
        <% if @keyword.present? %>
          <span class="h6">
            （マッチした検索数<%= @records.count %>件）
          </span>
        <% else %>
          全ユーザー
        <% end %>
      </div>
    </div>
    <% if @records.present? %>
      <%= render 'public/searches/search_user', users: @records %>
    <% else %>
      <p class="pt-2 text-center">検索したユーザーは見つかりませんでした。</p>
      <div class="text-center pt-2"><%= image_tag asset_path('24446281.png'), size: '300x200' %></div>
    <% end %>
  <% elsif @model == 'post' %>
    <div class="d-flex justify-content-center">
      <h4 class="text-center pb-3">投稿検索</h4>
      <div class="h5 ml-3 mt-1 d-none d-md-block">
        検索名：<%= @keyword %>
        <% if @keyword.present? %>
          <span class="h6">
            （マッチした検索数<%= @records.count %>件）
          </span>
        <% else %>
          全投稿
        <% end %>
      </div>
    </div>
    <% if @records.present? %>
      <% if user_signed_in? %>
        <%= render 'public/posts/index', posts: @records %>
      <% else %>
        <%= render 'admin/posts/index', posts: @records %>
      <% end %>
    <% else %>
      <p class="pt-2 text-center">検索した投稿は見つかりませんでした。</p>
      <div class="text-center pt-2"><%= image_tag asset_path('24446281.png'), size: '300x200' %></div>
    <% end %>
    <%= render 'public/posts/new_post_btn' %>
  <% end %>
</div>
