<div class="container">
  <h4 class="text-center pb-3">ユーザーからの違反報告</h4>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <th class="col-1">報告ID</th>
        <th class="col-2">報告したユーザー</th>
        <th class="col-2">報告されたユーザー</th>
        <th class="col-2">投稿名</th>
        <th class="col-2">違反理由</th>
        <th class="col-2">違反の説明</th>
        <th class="col-1">詳細</th>
      </thead>
      <tbody>
        <% @violates.each do |violate| %>
          <tr>
            <td><%= violate.id %></td>
            <td>
              <%= link_to admin_user_path(violate.reporter.id) do %>
                <span class='border-bottom border-dark text-dark'>
                  <%= violate.reporter.name %>
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(violate.reported.id) do %>
                <span class='border-bottom border-dark text-dark'>
                  <%= violate.reported.name %>
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to admin_post_path(violate.post.id) do %>
                <span class='border-bottom border-dark text-dark'>
                  <%= violate.post.post_name %>
                </span>
              <% end %>
            </td>
            <td><%= violate.status_i18n %></td>
            <td>
              <% if violate.text.present? %>
                <%= truncate(violate.text, length: 20, omission: "...") %>
              <% else %>
                なし
              <% end %>
            </td>
            <td>
              <p class="text_dark" data-toggle="modal" data-target="#violate<%= violate.id %>">
                <span class='border-bottom border-dark text-dark'>
                  詳細確認
                </span>
              </p>

              <div class="modal fade" id="violate<%= violate.id %>" tabindex="-1" role="dialog" aria-labelledby="reporteTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reporteTitle">
                        <%= violate.post.post_name %>の違反報告
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body h5">
                      <p>ユーザー名：<%= violate.reported.name %></p>
                      <p>投稿名：<%= violate.post.post_name %>
                      <p>違反内容：<%= violate.status_i18n %></p>
                      <div>
                        <div>説明</div>
                        <div class="pl-2">
                          <% if violate.text.present? %>
                            <%= violate.text %>
                          <% else %>
                            なし
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <%= link_to "投稿を見る", admin_post_path(violate.post.id), class:"btn btn-primary"%>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>