<!--管理者のタグ一覧-->
<div class="container">
  <% if @post_id.present? %>
    <h3 class="text-center"><%= @tags.first.posts.first.post_name %>の投稿のタグ一覧</h3>
  <% else %>
    <h3 class="text-center">タグ一覧</h3>
  <% end %>
  <%= render 'layouts/flash' %>
  <%= render 'admin/search/search_form', search_path: @search_path %>
  <% if @tags.present? %>
    <table class="table table-bordered col-8 mx-auto">
      <div class="row">
        <thead>
          <th class="col-2">タグID</th>
          <th class="col-4">タグ名</th>
          <th class="col-6">投稿名</th>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.id %></td>
              <td>
                <%= link_to admin_tags_path(tag_name: tag.name), class:"border-bottom border-dark text-dark" do %>
                  <%= tag.name %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_post_path(tag.posts.ids), class:"border-bottom border-dark text-dark" do %>
                  <%= tag.posts.first.post_name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
  <% else %>
    <% if @keyword %>
      <h3 class="text-center"><%= @keyword %>に関連したタグは見つかりませんでした</h3>
    <% else %>
      <h3 class="text-center">タグはありません</h3>
    <% end %>
  <% end %>
  <div class="row justify-content-center">
    <%= paginate @tags if @tags.present? %>
  </div>
</div>