<!--ユーザーページのフォロー部分-->
<span>
  フォロー数
  <%= link_to user_followings_path(user), class:'text-dark' do %>
    <%= user.followings.count %>
  <% end %>
</span>
<span>
  フォロワー数
  <%= link_to user_followers_path(user), class:'text-dark' do %>
    <%= user.followers.count %>
  <% end %>
</span>

<div class="d-flex">
  <% unless user == current_user %>
    <% if current_user.follow?(user) %>
      <%= link_to "フォローを解除", user_relations_path(user), method: :delete, remote: true, class:'btn btn-outline-primary btn-sm m-1 rounded-pill' %>
    <% else %>
      <%= link_to "フォローする", user_relations_path(user), method: :post, remote: true, class:'btn btn-outline-primary btn-sm m-1 rounded-pill' %>
    <% end %>
  <% end %>

  <% if user != current_user && (room_id || (current_user.follow?(user) && user.follow?(current_user))) %>
    <% if isRoom %>
      <%= link_to "メッセージ", room_path(room_id), class:"btn btn-outline-success btn-sm m-1 rounded-pill" %>
    <% else %>
     <%= form_with model: room, url: rooms_path, method: :post do |f| %>
       <%= fields_for entry do |entry| %>
         <%= entry.hidden_field :user_id, value: user.id %>
       <% end %>
       <%= f.submit "チャットへGo！", class:"btn btn-outline-success btn-sm m-1 rounded-pill" %>
     <% end %>
    <% end %>
  <% end %>
</div>