<div class="container">
  <h4>投稿の編集</h4>
  <div class="row">
    <%= render 'layouts/error_messages', resource: @post %>
    <%= form_with model: @post, url: admin_post_path(@post), method: :patch do |f| %>
      <%= render 'public/posts/form', f: f %>
      <%= f.text_field :tag, placeholder: "タグを入力", value: @tags %>
      <%= f.submit "投稿する" %>
    <% end %>
  </div>
  <%= link_to "投稿の削除", admin_post_path(@post), method: :delete %>
</div>