<!--管理者、投稿一覧-->
<div class="container">
  <div class="row">
    <h5><%= flash[:notice] if flash[:notice] %></h5>
  </div>
  <% if @posts.present? %>
    <% if @user.blank? %>
      <% @tags.each do |tag_name, count| %>
        <%= link_to tag_name[:name], admin_tag_path(tag_name[:id]) %>
        <%= "(#{count}件)" %>
      <% end %>
    <% else %>
      <h4><%= @user.name %>さんの投稿一覧</h4>
    <% end %>

    <div class="card-deck">
      <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
          <!--TODO style="width: 350px;-->
          <div class="card h-100" style="max-width: 350px;">
            <div class="card-text">
              <%= link_to admin_user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image(40, 40), class:"border border-dark rounded-circle" %>
                <%= post.user.name %>
              <% end %>
            </div>
            <!--投稿画像-->
            <div class="posts_index">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <% post.images.each do |image| %>
                    <div class="swiper-slide">
                      <%= image_tag image, class: "card-img-top rounded post_index_images" %>
                    </div>
                  <% end %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-btn swiper-button-prev"></div>
                <div class="swiper-btn swiper-button-next"></div>
              </div>
            </div>
            <!--投稿内容の表示-->
            <div class="card-body">
              <!--投稿名-->
              <h5 class="card-title">
                <%= link_to admin_post_path(post) do %>
                  <%= post.post_name %>
                <% end %>
              </h5>
              <!--投稿の説明-->
              <p class="card-text"><%= post.explanation %></p>
              <!--タグ-->
              <% post.tags.each do |tag| %>
                <%= link_to admin_tag_path(tag.id) do %>
                  #<%= tag.name %>
                <% end %>
              <% end %>
              <br>
              <!--いいね-->
              <i class="fa-regular fa-heart"></i><%= post.likes.count %>いいね
              <!--コメント-->
              <%= post.comments.count %>コメント
              <br>
              <!--閲覧数-->
              <i class="fa-solid fa-eye"></i><%= post.view_counts.count %>
              <br>
              <!--何時間前に投稿したか-->
              <i class="fa-regular fa-clock"></i><%= time_ago_in_words(post.created_at)+"前に投稿" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>
    <h4><%= @user.name %>さんの投稿はまだありません</h4>
  <% end %>
</div>