<div class="container">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <div class="row">
    <div class="col-lg-3">
      <%= link_to admin_user_path(@post.user.id) do %>
        <%= image_tag @post.user.get_profile_image(40, 40) %> <%= @post.user.name %>
      <% end %>
    </div>
    <div class="col-lg-offset-2 col-lg-4">
      <%= @post.post_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <% @post.images.each do |image| %>
        <%= image_tag image, size: "200x150" %>
      <% end %>
      <br>
      <% @tags.each do |tag| %>
        <%= tag.tag.name %>
      <% end %>
    </div>
    <div class="col-lg-offset-1 col-lg-3">
      <%= @post.explanation %>
    </div>
  </div>
  <%= link_to "投稿を編集する", edit_admin_post_path(@post) %>

  <div class="row">
    コメント件数<%= @post.comments.count%>件<br>
  </div>
  <% @posts.each do |post| %>
    <% post.comments.each do |comment| %>
      <div class="row">
        <%= link_to admin_user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image(45, 45) %>
          <%= comment.user.name %>
        <% end %>
        <%= comment.text %>
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </div>
    <% end %>
  <% end %>
</div>