<div class="container">
  <%= flash[:notice] if flash[:notice] %>
  <div class="row">
    <!--ユーザーのプロフィール画像と名前-->
    <div class="offset-lg-1">
      <%= link_to admin_user_path(@post.user.id) do %>
        <%= image_tag @post.user.get_profile_image(40, 40), class:"border border-dark rounded-circle" %>
        <%= @post.user.name %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <!--投稿画像-->
    <div class="offset-lg-1">
      <% @post.images.each do |image| %>
        <%= image_tag image, size: "150x100" %>
      <% end %>
    </div>
    <!--投稿名、説明、タグ-->
    <div class="offset-lg-1 col-lg-4">
      <h5><%= @post.post_name %></h5>
      <p><%= @post.explanation %></p>
      <% @post.tags.each do |tag| %>
        <%= link_to admin_tag_path(tag) do %>
          #<%= tag.name %>
        <% end %>
      <% end %>

      <i class="fa-regular fa-heart"></i><%= @post.likes.count %>いいね

      <i class="fa-solid fa-eye"></i><%= @post.view_counts.count %>
      <br>
      <i class="fa-regular fa-clock"></i><%= time_ago_in_words(@post.created_at)+"前に投稿" %>
      <%= link_to "投稿を削除する", admin_post_path(@post), method: :delete, data: {confirm: "この投稿を削除しますか？"}, class:"btn btn-danger" %>
    </div>
  </div>


  <div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
      GoogleMapを表示する
    </button>

    <!--GoogleMapのモーダルウィンドウ-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">GoogleMap</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div id='map' style="height: 600px; width: 600px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
    let map
    let marker
    function initMap(){
      geocoder = new google.maps.Geocoder()

      //マップの設定
      map = new google.maps.Map(document.getElementById('map'), {
        center:  {lat: <%= @post.lat %>, lng: <%= @post.lng %>},
        zoom: 15,
      });

      //マーカーの設定
      marker = new google.maps.Marker({
        position:  {lat: <%= @post.lat %>, lng: <%= @post.lng %>},
        map: map
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>
  </div>

  <table class="table">
    <div class="offset-lg-1">
      <p>コメント件数<%= @post.comments.count %>件</p>
      <% @post.comments.each do |comment| %>
        <tr>
          <td class="offset-lg-1"></td>
          <td>
            <%= link_to admin_user_path(comment.user) do %>
              <%= image_tag comment.user.get_profile_image(25, 25), class:"border border-dark rounded-circle" %>
              <% if comment.user == @post.user %>
                <%= comment.user.name %>(投稿者)
              <% else %>
                <%= comment.user.name %>
              <% end %>
            <% end %>
          </td>
          <td><%= comment.text %></td>
          <td>
            <i class="fa-regular fa-heart"></i><%= comment.comment_likes.count %>いいね
          </td>
          <td><%= link_to 'コメントを削除する', admin_comment_path(comment.id, post_id: comment.post_id), method: :delete, class:"btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    </div>
  </table>
</div>
