<!--グループチャットに参加しているユーザーの一覧-->
<div class="container">
  <%= flash[:notice] if flash[:notice] %>
  <h3 class="text-center"><%= @user_groups.first.room_group.name %>に参加しているユーザー</h3>
  <% @user_groups.each do |user_group| %>
    <div class="dm-form">
      <div class="border-top pb-2"></div>
      <div class="d-flex justify-content-between">
        <!--ユーザーのアイコンと名前-->
        <%= link_to user_path(user_group.user.id) do %>
          <%= image_tag user_group.get_profile_image(30, 30), class:"border border-dark rounded-circle" %>
          <%= user_group.role_name %>
        <% end %>
        <!--ユーザーを退会させるボタン-->
        <div class="mr-5">
          <% if @user_group_leader.present? && user_group.is_leader == false %>
            <button type="button" class="mr-2 btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter">
              退会させる
            </button>
            <%= render 'public/room_groups/delete', leader: @is_leader, group: @room_group, ejected: @ejected, with_member: user_group, current_user_group: @current_user_group%>
          <% end %>
        </div>
      </div>
      <div class="pl-5">
        <%= truncate(user_group.user.introduction, length: 50, omission: "...") %>
      </div>
    </div>
  <% end %>
</div>
