<div class="container">
  <% if @model == 'user' %>
    <div class="d-flex">
      <% unless @keyword == '' %>
        <h5>検索名：<%= @keyword %>（ユーザー）</h5>
      <% else %>
        <h5>検索名：全ユーザー</h5>
      <% end %>
      <p>（マッチした検索数<%= @records.count %>件）</p>
    </div>
    <% if @records.present? %>
      <%= render 'public/users/search_index', users: @records %>
    <% else %>
      検索したユーザーは見つかりませんでした。
    <% end %>
  <% elsif @model == 'post' %>
    <div class="d-flex">
      <% unless @keyword == '' %>
        <h5>検索名：<%= @keyword %>（投稿）</h5>
      <% else %>
        <h5>検索名：全投稿</h5>
      <% end %>
      <p>（マッチした検索数<%= @records.count %>件）</p>
    </div>
    <% if @records.present? %>
      <%= render 'public/posts/search_index', posts: @records %>
    <% else %>
      検索した投稿は見つかりませんでした。
    <% end %>
  <% end %>
</div>
