<div class="container">
  <%= render 'layouts/error_messages', resource: @user %>
  <h4><%= @user.name %>さんの会員情報編集</h4>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <table class="table table-borderless">
    <thead>
      <th class="col-lg-2"></th>
      <th class="col-lg-2"></th>
      <th class="col-lg-4"></th>
    </thead>
    <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>氏名(苗字 名前)</td>
          <td><%= f.text_field :first_name %></td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td><%= f.label :name, "ユーザー名" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_deleted, false %><%= f.label :is_deleted_false, "有効" %>
            <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted_true, "退会済み" %>
          </td>
          <tr>
            <td></td>
            <td><%= f.submit "編集する" %></td>
          </tr>
        </tr>
      </tbody>
    <% end %>
  </table>
  <div class="row">
    <%= link_to "会員一覧に戻る", admin_root_path, class:"col-lg-3" %>
    <% if @user.posts.count > 0 %>
      <%= link_to "このユーザーの投稿一覧を見る", admin_posts_path(user_index: @user.id), class:"col-lg-4" %>
    <% end %>
  </div>
</div>