<% notifications.each do |notification| %>
  <div class="row">
    <%= link_to user_path(notification.visitor.id) do %>
      <%= image_tag notification.visitor.get_profile_image(40, 40) %>
      <%= notification.visitor.name %>
    <% end %>さんが
    <% if notification.action == 'like' %>
      <%= link_to "あなたの投稿", post_path(notification.post_id) %>
      にいいねしました。
    <% elsif notification.action == 'comment' %>
      <%= link_to notification.visited.name+"の投稿", post_path(notification.comment.post) %>
      にコメントしました。
    <% else %>
      あなたをフォローしました。
    <% end %>
    <i class="fa-regular fa-clock"></i><%= time_ago_in_words(notification.created_at) %>前
  </div>
<% end %>