<!--サイトのレビュー画面-->
<div class="container">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <% unless @is_rate %>
        <h3 class="text-center pb-3">このサイトを使ってみた感想を教えてください</h3>
          <%= form_with model: @rate do |f| %>
          <div class="form-group">
            <h5>
              <%= f.label "評価をお願いします。" %>
              <span class="form_essential text-danger">※必須</span>
            </h5>
            <%= f.hidden_field :star, id: :review_star %>
            <div id="rate" class="pl-3"></div>
          </div>
          <div class="form-group">
            <h5>
              <%= f.label :text, "評価に対する意見があればお聞かせください。" %>
              <span class="form_essential text-dark">※任意</span>
            </h5>
            <div class="pl-4">
              <%= f.text_area :text, placeholder: "意見、要望があればお願いします", class:"form-control" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <%= f.submit "送信する", disabled: "true", html: {onclick: "return check()"}, class:"ml-2 btn btn-success btn-lg", id:"submit" %>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">
          <h5>
            評価をありがとうございました！<br>
            皆様からのレビューを参考に、よりよいサイト作りをしていきます！
          </h5>
          <span>
            既に評価をいただいていますため
            <%= link_to user_path(current_user.id) do %>
              <span class="text-dark border-bottom border-dark">こちら</span>
            <% end %>
            からマイページへお戻りください。
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    let elem = document.getElementById('rate');
    if (!elem) return;
    elem.innerHTML = ""
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'rate[star]'
    };
    raty(elem, opt);
  });

  // 星評価をしないとsubmitボタンを押せない
  const rate = $('#rate');
  const submit = $('#submit');
  rate.on('click', function(){
    submit.removeClass('btn btn-success btn-lg');
    submit.addClass('btn btn-outline-success');
    submit.prop("disabled", false);
  });

</script>