<!--ユーザーのサイトレビュー画面-->
<div class="container">
  <% unless @is_rate %>
    <h3 class="pb-3">このサイトを使ってみた感想を教えてください</h3>
      <%= form_with model: @rate do |f| %>
      <!--星5評価-->
      <div class="form-group">
        <h5>
          <%= f.label "使ってみた評価をお願いします。" %>
          <span class="form_essential text-danger">※必須</span>
        </h5>
        <%= f.hidden_field :star, id: :review_star %>
        <div id="rate" class="pl-3"></div>
      </div>
      <!--評価に対する意見、要望-->
      <div class="form-group">
        <h5>
          <%= f.label :text, "評価に対する意見があればお聞かせください。" %>
          <span class="form_essential text-dark">※任意</span>
        </h5>
        <!--テキスト入力欄-->
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6 pl-4">
            <%= f.text_area :text, placeholder: "意見、要望があればお願いします", class:"form-control" %>
          </div>
        </div>
      </div>
      <%= f.submit "送信する", disabled: "true", html: {onclick: "return check()"}, class:"ml-2 btn btn-success btn-lg", id:"submit" %>
    <% end %>
  <% else %>
    <h5>
      評価をありがとうございました！<br>
      皆様からのレビューを参考に、よりよいサイト作りをしていきます！
    </h5>
    <span>
      既に評価をいただいていますため、
      <%= link_to "こちら", user_path(current_user.id) %>
      からマイページへお戻りください。
    </span>
  <% end %>
</div>

<!--TODO scriptここでいいの？-->
<script>
  // 星の表示
  $(document).on('turbolinks:load', function() {
    let elem = document.getElementById('rate');
    if (!elem) return;
    elem.innerHTML = ""
    //id=rateの場所のHTMLを消す。意味としてはelem.empty()と同じ
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'rate[star]'  // rateテーブルのstarカラムに追加する
    };
    raty(elem, opt);
  });

  // 星評価をしないとsubmitボタンを押せない
  const rate = $('#rate');
  const submit = $('#submit');
  rate.on('click', function(){
    submit.removeClass('btn btn-success btn-lg');
    submit.addClass('btn btn-outline-success');
    submit.prop("disabled", false);
  });

</script>