<div class="container">
  <div class="row">
    <% if @groups.present? %>
      <table class="table table-hover">
        <tbody>
          <% @groups.each do |group| %>
            <tr onclick='window.location="<%= room_group_path(group) %>"' role="link">
              <td class="col-lg-3"><%= group.name %></td>
              <td><%= group.group_description %></td>
              <td>メンバー数<%= group.user_groups.count %>人</td>
              <td>最大人数<%= group.count %>人</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      まだグループチャットルームは作られていません。<br>
      グループチャットを作るからチャットルームを作ってみよう！！
    <% end %>
  </div>
  <div class="row">
    <%= link_to "グループチャットを作る", new_room_group_path, class:"btn btn-outline-success" %>
  </div>
</div>
