<div class="container">
  <%= flash[:notice] if flash[:notice] %>
  <div class="row">
    <% if @groups.present? %>
      <table class="table table-hover">
        <tbody>
          <% @groups.each do |group| %>
            <% if group.include?(current_user) %>
              <tr onclick='window.location="<%= room_group_path(group) %>"' role="link">
            <% else %>
              <tr>
            <% end %>
              <td class="col-lg-2"><%= group.name %></td>
              <td class="col-lg-3"><%= group.group_description %></td>
              <td class="col-lg-2">
                メンバー数<%= group.user_groups.count %>人<br>
                最大人数<%= group.count %>人
              </td>
              <% if group.include?(current_user) %>
                <td class="col-lg-2">
                  <p class="text-success">参加済み</p>
                </td>
              <% else %>
                <td class="col-lg-2">
                  <%= link_to "参加する", room_group_user_groups_path(group.user_groups.ids, group_id: group.id), method: :post, class:"btn btn-outline-success"%>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      まだグループチャットルームは作られていません。<br>
      グループチャットを作るからチャットルームを作ってみよう！！
    <% end %>
  </div>
  <div class="row">
    <%= link_to "グループチャットを作る", new_room_group_path, class:"btn btn-outline-success" %>
  </div>
</div>
