<div class="container">
  <%= flash[:notice] if flash[:notice] %>
  <!--グループチャット名-->
  <div>
    <h3 class="col-10">
      <%= @group.name %>
      <span class="float-right">
        <%= link_to '退会', withdrawal_room_group_user_group_path(@group.id, @current_user_group.id), class:"mr-2 btn btn-outline-danger" %>
        <% if @leader.user_id == current_user.id %>
          <%= link_to "編集", edit_room_group_path(@group), class:"btn btn-outline-success" %>
        <% end %>
      </span>
    </h3>
  </div>
  <div>
    参加しているユーザー数<%= @group_users.count %>人
    <%= link_to "ユーザーを見る", room_group_user_groups_path(@group) %>
  </div>
  <% if @message_groups.present? %>
    <!--メッセージフィールド-->
    <%= render 'public/messages/messages',messages: @message_groups %>
  <% else %>
    <h4>グループチャットメンバーと話してみよう！</h4>
  <% end %>
  <!--メッセージ入力-->
  <div class="dm-form">
    <%= form_with model: @message_group, url: polymorphic_path([@group, :message_groups]), method: :post do |f| %>
      <div class="row">
        <div class="col-9 col-sm-10">
          <%= f.text_field :text, placeholder: "メッセージを入力してください", class:"w-100 form-control" %>
          <%= f.hidden_field :room_group_id, value: @group.id %>
        </div>
        <div class="col-3 col-sm-2 pl-0">
          <%= f.submit "送信", class:"rounded-pill btn btn-success w-100" %>
        </div>
      </div>
    <% end %>
  </div>
  <h6 style="color: red;">参加、退会時のテキスト未追加</h6>
</div>
