<!--各グループチャット画面-->
<div class="container">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <span class="float-left pt-1">
        <%= link_to room_groups_path do %>
          <i class="fa-solid fa-arrow-left fa-xl text-dark"></i>
        <% end %>
      </span>
      <h3 class="text-center"><%= @group.name %></h3>
      <div class="justify-content-center d-flex">
        <p>参加しているユーザー数<%= @group_users.count %>人</p>
        <%= link_to room_group_user_groups_path(@group) do %>
        <span class='border-bottom border-dark text-dark'>
          ユーザーを見る
        </span>
        <% end %>
      </div>
      <div class="row justify-content-end mb-5">
        <div class="col-10 mx-auto">
          <div class="row justify-content-end">
            <button type="button" class="mr-2 btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter">
              退会
            </button>
            <%= render 'delete', leader: @is_leader, group: @room_group, ejected: @ejected, current_user_group: @current_user_group %>
            <!--TODO @leader.written_by?(current_user)-->
            <% if @leader.written_by?(current_user) %>
              <%= link_to "編集", edit_room_group_path(@group), class:"btn btn-outline-success" %>
            <% end %>
          </div>
        </div>
      </div>
      <% if @message_groups.present? %>
        <%= render 'public/messages/messages',messages: @message_groups %>
      <% else %>
        <h4 class="pt-5 pb-3 text-center">
          まだグループチャット内で会話が行われていません。<br>
          グループチャットメンバーと話してみよう！
        </h4>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-8 mx-auto">
    <%= form_with model: @message_group, url: polymorphic_path([@group, :message_groups]), method: :post do |f| %>
      <div class="row">
        <div class="col-9 col-sm-10">
          <%= f.text_field :text, required: true, placeholder: "メッセージを入力してください", class:"w-100 form-control" %>
          <%= f.hidden_field :room_group_id, value: @group.id %>
        </div>
        <div class="col-3 col-sm-2 pl-0">
          <%= f.submit "送信", class:"rounded-pill btn btn-success w-100" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
