<!--ユーザー情報編集画面-->
<div class="container">
  <%= render 'layouts/error_messages', resource: @user %>
  <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
    <div class="col-12 col-lg-8 mx-auto">
      <div class="form-group">
        <%= f.file_field :profile_image, accept: "image/*", direct_upload: true, onchange: "profileImage(this)" %>
        <div class="text-center">
          <%= image_tag @image_url, class:"m-2 profile_image border border-dark rounded-circle", id:"profile_image" %>
          <span id="preview"></span>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :name, "ニックネーム(最大20文字)" %>
        <%= f.text_field :name, required: true, class:"form-control" %>
        <div><span id="user_name_countUp"><%= @user.name&.length || 0 %></span>/20文字</div>
      </div>
      <div class="form-group">
        <%= f.label :name, "自己紹介文(最大100文字)" %>
        <%= f.text_area :introduction, class:"form-control" %>
        <div><span id="user_introduction_countUp"><%= @user.introduction&.length || 0 %></span>/100文字</div>
      </div>
      <div class="row justify-content-around pt-3">
        <%= link_to '戻る', user_path(@user.id), class:"btn btn-primary" %>
        <%= f.submit "変更する", class:"btn btn-success" %>
        <!--退会ボタン-->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#unsubscribe">
          退会する
        </button>
        <div class="modal fade" id="unsubscribe" tabindex="-1" role="dialog" aria-labelledby="unsubscribeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h5 class="pt-3 pb-1 text-center">
                  退会すると、現在のアカウントでは<br>
                  ログインができなくなります。<br>
                  また、投稿した情報は削除され<br>
                  様々な機能が利用不可になります。
                </h5>
              </div>
              <div class="modal-footer justify-content-around">
                <button type="button" class="btn btn-success" data-dismiss="modal">キャンセル</button>
                <%= link_to "退会する", withdrawal_user_path, method: :patch, class:"btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  function profileImage(obj){
    let fileReader;
    $('#preview').empty();
		fileReader = new FileReader();
		fileReader.onload = (function (e) {
		  $('#profile_image').hide();
			$('#preview').html('<img class="m-2 border border-dark rounded-circle profile_image" src="' + e.target.result + '">');
		});
		fileReader.readAsDataURL(obj.files[0]);
  }
</script>
