<div class="container d-flex align-content-start flex-wrap">
  <table class="table table-bordered">
    <% @likes.each do |like| %>
      <tr>
        <td>
          <%= link_to user_path(like.user) do %>
            <%= image_tag like.user.get_profile_image(40, 40) %>
            <%= like.user.name %>
            <br>
          <% end %>
          <%= link_to post_path(like) do %>
            <%= like.post_name %><br>
            <%= image_tag like.image, size: "150x100" %>
          <% end %>
        </td>
        <td>
          <%= like.explanation %><br>
          <i class="fa-solid fa-tags"><%= like.tags.map(&:name).join(', ') %></i><br>
          <span id="post_<%= like.id %>"><%= render "public/likes/like", post: like %></span>
          <%= link_to "#{like.comments.count}コメント", post_path(like.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>