<div class="container">
  <% if @user == current_user %>
    <h4>マイページ</h4>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <div class="row">
      <table class="table">
        <tr>
          <td class="col-lg-1">
            <%= image_tag @user.get_profile_image(100, 100) %>
          </td>
          <td class="col-lg-11">
            <%= @user.name %><br>
            自己紹介 <%= @user.introduction %><br>
            投稿数 <%= @user.posts.count%>投稿<br>
            フォロー 
            <%= link_to user_followings_path(@user) do %>
              <%= @user.followings.count %>
            <% end %>
            フォロワー 
            <%= link_to user_followers_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <p>自己紹介：　<%= @user.introduction %></p>
    </div>
    <div class="row">
      <%= link_to "プロフィールを編集", edit_user_path(@user), class:"col-lg-2" %>
      <%= link_to "いいねした一覧", likes_user_path(@user), class:"col-lg-2" %>
      <%= link_to "投稿した一覧", index_current_posts_path, class:"col-lg-2" %>
    </div>
  <% else %>
    <h4><%= @user.name %>さんのマイページ</h4>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <div class="row">
      <table class="table">
        <tr>
          <td class="col-lg-1">
            <%= image_tag @user.get_profile_image(100, 100) %>
          </td>
          <td class="col-lg-11">
            <%= @user.name %><br>
            自己紹介 <%= @user.introduction %><br>
            投稿数 <%= @user.posts.count%>投稿<br>
            フォロー 
            <%= link_to user_followings_path(@user) do %>
              <%= @user.followings.count %>
            <% end %>
            フォロワー 
            <%= link_to user_followers_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
            <%= render 'public/relations/follow', user: @user %>
          </td>
        </tr>
      </table>
    <div class="row">
    <p>ここに各ユーザーが投稿した内容をつける</p>
    </div>
  <% end %>
</div>
