<!DOCTYPE html>
<html>
  <head>
    <title>Nature</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5960b679dc.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item" >
                <%= link_to user_path(current_user), class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-user"></i>
                <% end %>
              </li>
              <li class="nav-item" >
                <%= link_to timeline_user_path(current_user), class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-house"></i>
                <% end %>
              </li>
              <li class="nav-item" >
                <%= link_to new_post_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
              </li>
              <li class="nav-item" >
                <%= link_to notifications_path, class: 'nav-link text-dark' do %>
                  <% if current_user.unchecked_notifications == 0 %>
                     <i class="fa-solid fa-bell"style="font-size: 1.1em;"></i>
                  <% else %>
                    <span class="fa-layers" style="position: relative;">
                      <i class="far fa-bell fa-lg icon_layers_icon" style="font-size: 1.5em;"></i>
                      <span class="icon_layers_counter"><%= current_user.unchecked_notifications %></span>
                    </span>
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item" >
                <%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "グループチャット", room_groups_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
                <% end %>
              </li>
              <li>
                <%= render 'layouts/search' %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item" >
                <%= link_to "会員一覧", admin_users_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "投稿一覧", admin_root_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "コメント一覧", admin_commets_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "通知", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item" >
                <%= link_to "About", about_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "ゲストログイン", guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item" >
                <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-dark' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
