<!DOCTYPE html>
<html>
  <head>
    <title>Nature</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5960b679dc.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? || admin_signed_in? %>
        <div class="d-block d-lg-none row justify-content-center bg-info">
          <div class="col-10 mx-auto text-center">
            <h3 class="text-center m-0 p-3 d-inline-block">MFTS</h3>
            <span><i class="fa-solid fa-magnifying-glass fa-lg float-right mt-4 pt-2"></i></span>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block" style="background-color: #e3f2fd;">
      <% else %>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <% end %>
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if user_signed_in? %>
                <li class="nav-item" >
                  <%= link_to 'マイページ', user_path(current_user), class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to 'タイムライン', timeline_user_path(current_user), class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "グループチャット", room_groups_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to '通知', notifications_path, class: 'nav-link text-dark' %>
                  <% if current_user.unchecked_notifications > 0 %>
                    <span class="fa-layers" style="position: relative;">
                      <span class="icon_layers_counter">+<%= current_user.unchecked_notifications %></span>
                    </span>
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item" >
                  <%= link_to "会員一覧", admin_root_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "タグ一覧", admin_tags_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "コメント一覧", admin_comments_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to admin_rates_path, class: 'nav-link text-dark' do %>
                    <% if Rate.count_unchecked_notifications() == 0 %>
                      レビュー一覧
                    <% else %>
                      <p class="icon_layers">レビュー一覧</p>
                       <span class="n-circle">+<%= Rate.count_unchecked_notifications() %></span>
                    <% end %>
                  <% end %>
                </li>
                <li class="nav-item" >
                  <%= link_to admin_violates_path, class: 'nav-link text-dark' do %>
                    <% if Violate.count_unchecked_notifications() == 0 %>
                      違反通知
                    <% else %>
                      <p class="icon_layers">違反通知</p>
                       <span class="n-circle">+<%= Violate.count_unchecked_notifications() %></span>
                    <% end %>
                  <% end %>
                </li>
                <li class="nav-item" >
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
              <% else %>
                <li class="nav-item" >
                  <%= link_to "Top", root_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "ゲストログイン", guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item" >
                  <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-dark' %>
                </li>
              <% end %>
            </ul>
            <div class="d-none d-lg-block">
              <% if user_signed_in? %>
                <%= render 'public/searches/form' %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="border border-bottom d-none d-lg-block"></div>
    <div class="bg-light pb-5 pt-5 bg-height-color">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <footer class="d-block d-lg-none pt-3 pb-3 fixed-bottom bg-phone">
        <div class="col-10 mx-auto">
          <div class="row justify-content-around">
            <%= link_to user_path(current_user), class: 'text-dark' do %>
              <i class="fa-solid fa-user fa-xl"></i>
            <% end %>
            <%= link_to timeline_user_path(current_user), class: 'text-dark' do  %>
              <i class="fa-solid fa-house fa-xl"></i>
            <% end %>
            <%= link_to posts_path, class: 'text-dark' do %>
              <i class="fa-solid fa-images fa-xl"></i>
            <% end %>
            <%= link_to notifications_path, class: 'text-dark' do %>
              <i class="fa-solid fa-bell fa-xl"></i>
              <% if current_user.unchecked_notifications > 0 %>
                <span class="fa-layers" style="position: relative;">
                  <span class="phone_icon_layers_counter">+<%= current_user.unchecked_notifications %></span>
                </span>
              <% end %>
            <% end %>
            <%= link_to room_groups_path, class: 'text-dark' do %>
              <i class="fa-solid fa-users fa-xl"></i>
            <% end %>
          </div>
        </div>
      </footer>
    <% end %>
  </body>
</html>

<!--FIXME: 改良できるかも, MEMO: メモ, TODO: 今後の予定, REF: 参考資料 ctrl+shift+f-->